# Node.js dependencies
node_modules/

# Parcel cache
.parcel-cache/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE files (optional)
.vscode/
.idea/

# Build output
dist/

# Git-specific files
*.lock
